- @orders.each do |order|
  %li
    = order.order_items
    %span=order.quantity
    %span= link_to "+", order_add_item_path(order.id), method: :post
    %span= link_to "x", order_subtract_item_path(order.id), method: :delete