%nav.navbar.navbar-default
  .container-fluid
    .navbar-header
      %a.navbar-brand{:href => root_path}
        SKB
        / %img{:alt => "Brand", :src => "..."}/
    .pull-right
      %span=link_to "Shop", shop_path
      %span=link_to "How it works", how_path
      %span=link_to "About", about_path