.content-wrapper
  %section.destinations
    .container
      .row.redbox.lift
        .col-sm-6.col-md-4.no-side-margin
          .thumbnail
            = image_tag('jamaican_mountainside.jpg', class: "selling-point-image")
            .caption
              %h3 Thumbnail label

        .col-sm-6.col-md-4.no-side-margin
          .thumbnail.primary
            = image_tag('cuba.jpg', class: "selling-point-image")
            .caption
              %h3 Thumbnail label
            .box-arrow

        .col-sm-6.col-md-4.no-side-margin
          .thumbnail
            = image_tag('trinidad-and-tobago.jpg', class: "selling-point-image")
            .caption
              %h3 Thumbnail label

