.content-wrapper
  %section.destination-list
    .container.destination-list
      %h1.text-center Eat like a local
      .row.redbox.lift
        .col-sm-6.col-md-4
          .thumbnail
            = image_tag('man-on-grill.jpg', class: "selling-point-image")
            .caption
              %h3 Thumbnail label
              %p ...
              %p
                %a.btn.btn-primary{:href => "#", :role => "button"} Button

        .col-sm-6.col-md-4
          .thumbnail
            = image_tag('man-on-grill.jpg', class: "selling-point-image")
            .caption
              %h3 Thumbnail label
              %p ...
              %p
                %a.btn.btn-primary{:href => "#", :role => "button"} Button

        .col-sm-6.col-md-4
          .thumbnail
            = image_tag('man-on-grill.jpg', class: "selling-point-image")
            .caption
              %h3 Thumbnail label
              %p ...
              %p
                %a.btn.btn-primary{:href => "#", :role => "button"} Button

