.content-wrapper.redbox
  %section.how-it-works
    %h1.text-center How it works
    .container
      .row
        .col-sm-6.col-md-4
          .object-box
        .col-sm-6.col-md-4
          .object-box
        .col-sm-6.col-md-4
          .object-box
