.content-wrapper
  %section.how-it-works
    %h1.text-center Meals
  .demo-charts.mdl-color--white.mdl-cell.mdl-cell--12-col.mdl-grid
    .demo-chart.mdl-cell.mdl-cell--3-col.mdl-cell--4-col-desktop{:height => "200px", :viewbox => "0 0 1 1", :width => "300px"}
      %h3 meal 1
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi at sapiente, molestiae similique, nisi in, fuga quisquam reiciendis quas voluptatem exercitationem, rerum vel. Quod, ipsum cupiditate ad repudiandae sapiente architecto!
    .demo-chart.mdl-cell.mdl-cell--3-col.mdl-cell--4-col-desktop{:height => "200px", :viewbox => "0 0 1 1", :width => "300px"}
      %h3 meal 2
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi at sapiente, molestiae similique, nisi in, fuga quisquam reiciendis quas voluptatem exercitationem, rerum vel. Quod, ipsum cupiditate ad repudiandae sapiente architecto!
    .demo-chart.mdl-cell.mdl-cell--3-col.mdl-cell--4-col-desktop{:height => "200px", :viewbox => "0 0 1 1", :width => "300px"}
      %h3 meal 3
      %p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi at sapiente, molestiae similique, nisi in, fuga quisquam reiciendis quas voluptatem exercitationem, rerum vel. Quod, ipsum cupiditate ad repudiandae sapiente architecto!