%h1 Dinner Shop Page

%ul
  - @meals.each do |meal|
    %li
      = link_to meal.name, meal_path(meal.id)
      %span
        = number_to_currency(meal.price)
      %p
        = meal.destination.name

= render partial: 'shared/go_to_cart' if current_user && current_user.cart