%div
  %header.immersive-header
    = render partial: "destination_return"
    %h1
      = "#{@destination.name}'s Geography"
    %p
      = link_to "Interactively ", "http://tympanus.net/Development/AboveBeneath/index3.html#"
      learn impressive facts about the destination's geography, temperature.
      This section will have the up-to-date weather info, etc.
