= render partial: "destination_return"

%h1= "#{@destination.name}'s Geography"
%p
  Learn impressive facts about the destination's geography, temperature.
  This section will have the up-to-date weather info, etc.