= render partial: "destination_return"

%h1= "#{@destination.name}'s Interactive Points Page"
%p
  This page will show an interactive map with points of interest.
  = link_to "Interactive Points", "http://tympanus.net/Development/InteractivePoints/"

