%div
  %header.immersive-header
    = render partial: "destination_return"
    %h1= "The politics of #{@destination.name}"
    %p
      This page will explore the present day and political history of the nation.

