.container.pages-shop,
.cart-show.container {
  /*height: calc(100vh - 80px);*/
  height: 100vh;
}

.cart-listing-wrapper {
  background-color: rgba(0, 0, 0, 0.15);
  height: 200px;
  width: 100%;
  position: absolute;
}

.visible {
  display: inline !important;
}

.account-order-date {
  background-color: #ccc;
  padding: 5px;
}

.fa.fa-shopping-cart.cart {
  font-size: 3em;
  background-color: rgb(215, 137, 119);
  padding: 5px;
}

svg.checkout__icon {
  fill: #FFF;
}

li.cart-link {
  margin-top: -10px;
}

svg.checkout__icon.destinations {
  fill: #fff;
}

svg.checkout__icon.fill-dark {
  fill: #424242;
}

span.badge.for-cart {
  margin-left: -32px;
  margin-top: 0px;
  background-color: #9DC462;
  font-size: 16px;
  font-weight: bolder;
  .count {
      text-shadow: 0px 1px 6px #999;
  }
}

div#greeting {
  margin-top: 12px;
  margin-left: 29px;
  padding: 0 19px;
  color: #FFF;
}

span.cart-display {
  width: 100vw;
  height: 25em;
  background-color: #FFF;
  /*position: absolute;*/
  right: 0;
  top: 4em;
  display: none;
}


a.shopping-cart {
  position: relative;
  z-index: 1;
}

.ordered-items {
  margin-left: -12em;
  width: 300px;
  margin-top: 3em;
  border: 1px solid red;
  background-color: #FFF;
}
